

@font-face {
    font-family: 'Avenir';
    src: url('Avenir.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir Bold';
    src: url('Avenir-Bold.otf') format('opentype');
}

body {
    font-family: Avenir;
    padding: 0;
    background-color: #16113a;
    width: 97vw;
    height: 90vh;
    

}

.card1{
    grid-area: one;
    
}
.card2{
    grid-area: two;
}
.card3{
    grid-area: three;
}
.card4{
    grid-area: four;
}
.card5{
    grid-area: five;
}


.dashboard {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-areas: 
    'one two three'
    'one two three'
    'four two five';
}

.card {
    color: white;
    font-family: Avenir;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing:content-box;
    border-radius: 0.5rem;
}

.title {
    font-size: 1rem;
    font-weight: 700;

}

.footer {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.25rem;
    padding-top: 10px;
}

.logo {
    height: 1.75rem;
    width: 1.75rem;
    padding-left: 10px;

}
.example {
    font-weight: 400;
    padding: 0 10px;
}

.tag {
    font-size: 0.75rem;
    color: grey;
    margin-top: 0.25rem;
}
.time {
    font-family: Avenir Bold;
    margin-right: -10px;
    margin-left: auto;    
    font-size: 1.25rem;
    
}