

@font-face {
    font-family: 'Avenir';
    src: url('Avenir.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir Bold';
    src: url('Avenir-Bold.otf') format('opentype');
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Avenir;
    margin: 0;
    background-color: #16113a;
    
}
.console {
    display: blcok;    
    border: 1px solid lightgray;
    width: 330px;
    border-radius: 0.5rem;
    min-width: 330px;
    background-color: white;
    padding: 2.5rem 3rem;
} 

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo {
    height: 1.5rem;
    padding-right: 10px;
 
}

.socialboard {
    font-family: Avenir Bold;
    font-size: 1.5rem;
}

.sign-in {
    display: block;
    text-align: center;
    margin: 20px 0;
}

.signin {
    display: block;
    font-size: 1.25rem;
    font-weight: bold;   
    margin-bottom: -1rem;
}

.credentials {
    display: flex;
    flex-direction: column;
    
}

.input {
    font-size: 1rem;
    padding: 0.75rem;
    border: 1px solid lightgray;
    margin: 10px 0;
    border-radius: 0.5rem;
}

input {
    font-family: Avenir;
}

.method {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 2rem;
}

.create-act {
    text-decoration: none;
    color: #16113a;
    font-size: 1em;
    font-weight: bold;
}

.next {
    background-color: #0ED254;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.75rem 1.75rem;
    padding-top: 1rem;
    border-radius: 0.5rem;
    margin-left: auto;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.next:hover {
    border: 2px solid #16113a;   
    
}
.forgot-password {
    text-decoration: none;
    color: #16113a;
    font-size: 1rem;
    font-weight: bold;
    margin-left: auto;
}
